.pots__card {
  margin-top: 8px;
  padding-block: clamp(
    24px,
    calc(24px + (32 - 24) * (100vw - 375px) / (768 - 375)),
    32px
  );
  padding-inline: clamp(
    20px,
    calc(20px + (32 - 20) * (100vw - 375px) / (768 - 375)),
    32px
  );
  display: flex;
  flex-direction: column;
  gap: 20px;

  background: var(--white);
  border-radius: 12px;
}

.text_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text_wrapper h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0px;
  color: var(--grey-900);
}

.seeDetails {
  display: flex;
  gap: 12px;
  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--grey-500);
}

.pots__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.pots__saved {
  padding-block: 20px;
  padding-inline: 16px;
  display: flex;
  gap: 16px;
  align-items: center;

  background: var(--beige-100);
  border-radius: 12px;
}

.pots__text {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.pots__text > p:nth-child(1) {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--grey-500);
}

.pots__text > p:nth-child(2) {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0px;
  color: var(--grey-900);
}

.pots__additions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.addition__card {
  display: flex;
  gap: 16px;
}

.colorBar {
  width: 4px;
  height: 43px;
  border-radius: 8px;
}

.addition__text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.addition__text > p:nth-child(1) {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--grey-500);
}

.addition__text > p:nth-child(2) {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--grey-900);
}

@media (min-width: 768px) {
  .pots__content {
    display: grid;
    grid-template-columns: 247px 1fr;
    gap: 20px;
  }
}
