.potscard {
  padding-block: 24px;
  padding-inline: clamp(
    20px,
    calc(20px + (24 - 20) * (100vw - 375px) / (768 - 375)),
    24px
  );
  display: grid;
  flex-direction: column;
  gap: 32px;

  background: var(--white);
  border-radius: 12px;
}

.card__title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
}
.card__title__left {
  display: flex;
  align-items: center;
  gap: 16px;
}
.color__circle {
  width: 16px;
  height: 16px;
  border-radius: 100%;
}

.card__title__left h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0px;
  color: var(--grey-900);
}

.dropdown {
  position: absolute;
  right: 0;
  bottom: -8px;
  transform: translateY(100%);

  display: flex;
  flex-direction: column;
  z-index: 10;
  background: white;
  padding-inline: 20px;
  padding-block: 12px;
  border-radius: 8px;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.5);

  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
}

.edit,
.delete {
  border: none;
  background: none;
}

.edit {
  color: var(--grey-900);
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid var(--grey-100);
}

.delete {
  color: var(--red);
}

.card__content {
  padding-block: 10.5px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card__content__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--grey-500);
}

.money {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0px;
  color: var(--grey-900);
}

.card__content__progress {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.progressBar {
  width: 100%;
  height: 8px;
  background-color: var(--beige-100);
  border-radius: 4px;
  overflow: hidden;
}

.progressFill {
  height: 100%;
  border-radius: 10px;
  transition: width 0.3s ease;
}

.progress__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.percentage {
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--grey-500);
}

.target {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--grey-500);
}

.card__actions {
  margin-bottom: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

@media (min-width: 1440px) {
  .card__actions {
    margin-bottom: 0px;
  }
}
