.button {
  padding: 16px;

  border: none;
  outline: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}

.primary {
  background: var(--grey-900);
  color: var(--white);
}

.secondary {
  background: var(--beige-100);
  color: var(--grey-900);
}

.tertiary {
  background: none;
  color: var(--grey-500);
  padding: 0;
}

.destroy {
  background: var(--red);
  color: var(--white);
}
