.modal__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal__header {
  padding-block: 10.5px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--grey-500);
}

.money {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0px;
  color: var(--grey-900);
}
.card__content__progress {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.progressBar {
  width: 100%;
  height: 8px;
  background-color: var(--beige-100);
  border-radius: 4px;
  overflow: hidden;
}

.progressFill {
  height: 100%;
  border-radius: 10px;
  transition: width 0.3s ease;
}

.progress__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.percentage {
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--grey-500);
}

.target {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--grey-500);
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal__form label {
  display: flex;
  flex-direction: column;
  gap: 4px;

  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--grey-500);
}

.modal__form label input,
.modal__form label select {
  padding: 12px 20px;

  border: none;
  box-shadow: inset 0 0 0 1px var(--beige-500);
  border-radius: 8px;

  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}

.placeholder {
  position: relative;
}
.currency {
  position: absolute;
}
