.modal__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal__form label {
  display: flex;
  flex-direction: column;
  gap: 4px;

  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--grey-500);
}

.modal__form label input,
.modal__form label select {
  padding: 12px 20px;

  border: none;
  box-shadow: inset 0 0 0 1px var(--beige-500);
  border-radius: 8px;

  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}

small {
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--grey-500);
}

.placeholder {
  position: relative;
}
.currency {
  position: absolute;
}
